<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div class="card">
        <form action="/add" method="post">
            <div class="card-header">
                <h1>FORM</h1>
            </div>

            <div class="card-body">
                <div class="mb-3 row">
                    <label for="task">Pekerjaan</label>
                    <div class="col-sn-10">
                        <input type="text" id="task" name="task">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit">Simpan</button>
                <a href="/" class="btn btn-warning">Kembali</a>
            </div>
    </form>
</body>

</html>